<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordle</title>


  <script src="/public//javascripts/screen.js"></script>

  <script defer src="/public/javascripts/keyboard_feature.js"></script>
  <!-- Bootstrap bundle -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/stylesheets/styles-screen.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  

</head>

<body class="bg-black">
  <div >
    <div>
      <header class="d-flex justify-content-between mb-0">
        <section>
         <button class="btn bi bi-list ps-2 pt-0 pe-0" name="menu" style="color: gainsboro; background-color: black; font-size: 1.8rem;;"></button>
         <button class="btn bi bi-question-circle pt-0 py-0 ps-1 pb-1" name="menu" style="color: gainsboro; background-color: black; font-size: 1.3rem;"></button>
        </section>
        <h1 class="fw-bold m-auto" style="color: gainsboro">Wordle</h1>
        <section>
          <button class="btn bi bi-bar-chart-fill" name="menu" style="color: gainsboro; background-color: black; font-size: 1.4rem;"></button>
          <button class="btn bi bi-gear-fill p-0 pe-2" name="menu" style="color: gainsboro; background-color: black; font-size: 1.4rem;"></button>
        </section>
      </header>
      <hr class="p-0 mt-0 me-2" style="color: gainsboro">
      <main class="mx-auto">
        <div id="board-container"></div>
      <div id="checkerboard"></div>
    </div>
    <div id="keyboard">
      <div class="keyboard-row">

        <button class="button" name="q">q</button>
        <button class="button" name="w">w</button>
        <button class="button" name="e">e</button>
        <button class="button" name="r">r</button>
        <button class="button" name="t">t</button>
        <button class="button" name="y">y</button>
        <button class="button" name="u">u</button>
        <button class="button" name="i">i</button>
        <button class="button" name="o">o</button>
        <button class="button" name="p">p</button>
      </div>
      <div class="keyboard-row">
        <div class="spacer-half"></div>
        <button class="button" name="a">a</button>
        <button class="button" name="s">s</button>
        <button class="button" name="d">d</button>
        <button class="button" name="f">f</button>
        <button class="button" name="g">g</button>
        <button class="button" name="h">h</button>
        <button class="button" name="j">j</button>
        <button class="button" name="k">k</button>
        <button class="button" name="l">l</button>
        <div class="spacer-half"></div>
      </div>
      <div class="keyboard-row">
        <button class="button" name="enter" id="wide-button">Enter</button>
        <button class="button" name="z">z</button>
        <button class="button" name="x">x</button>
        <button class="button" name="c">c</button>
        <button class="button" name="v">v</button>
        <button class="button" name="b">b</button>
        <button class="button" name="n">n</button>
        <button class="button" name="m">m</button>
        <button class="button" name="del" id="wide-button">Del</button>

      </div>
    </div>
  </div>
      </main>
</body>

</html>