<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wordle</title>

<script src="../public/javascripts/screen.js"></script>
<script defer src="../public/javascripts/screen_dynamics.js"></script>
<link rel="stylesheet" href="../public/stylesheets/styles-screen.css">
</head>

<body>
  <div id="main-area">
    <div id="game">
      <header>
        <h1 class="title">Wordle</h1>
      </header>
      <div id="board-container"></div>
      <div id="checkerboard"></div>
    </div>
    <div id="keyboard">
      <div class="keyboard-row">
        <button class="button" data-key="q">q</button>
        <button class="button" data-key="w">w</button>
        <button class="button" data-key="e">e</button>
        <button class="button" data-key="r">r</button>
        <button class="button" data-key="t">t</button>
        <button class="button" data-key="y">y</button>
        <button class="button" data-key="u">u</button>
        <button class="button" data-key="i">i</button>
        <button class="button" data-key="o">o</button>
        <button class="button" data-key="p">p</button>
      </div>
      <div class="keyboard-row">
        <div class="spacer-half"></div>
        <button class="button" data-key="a">a</button>
        <button class="button" data-key="s">s</button>
        <button class="button" data-key="d">d</button>
        <button class="button" data-key="f">f</button>
        <button class="button" data-key="g">g</button>
        <button class="button" data-key="h">h</button>
        <button class="button" data-key="j">j</button>
        <button class="button" data-key="k">k</button>
        <button class="button" data-key="l">l</button>
        <div class="spacer-half"></div>
      </div>
      <div class="keyboard-row">
        <button class="button" data-key="enter" id="wide-button">Enter</button>
        <button class="button" data-key="z">z</button>
        <button class="button" data-key="x">x</button>
        <button class="button" data-key="c">c</button>
        <button class="button" data-key="v">v</button>
        <button class="button" data-key="b">b</button>
        <button class="button" data-key="n">n</button>
        <button class="button" data-key="m">m</button>
        <button class="button" data-key="del" id="wide-button">Del</button>
      </div>
    </div>
  </div>
</body>

</html>