<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitive Wordle Sign Up</title>
    <script src="../public/javascripts/signup.js"></script>
    <script defer src="/javascripts/signup.js"></script>
    <!-- Bootstrap bundle -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- link css stylesheet-->
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body class="signup-body">

    <div class="container signup-container ">
        <div class="row">
            <div class="col"></div>
            <!-- Display the sign up card to be centered in the middle -->
            <div class="col-sm-12 col-md-8">
                <div class="card signup-card">
                    <div class="card-block">
                        <h4 class="signup-text"> Create a new account</h4>

                        <form id="reg-form">

                            <div class="form-group">
                                <input type="text" autocomplete="off" id="username" placeholder="Username"
                                    class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="password" autocomplete="off" id="password" placeholder="Password"
                                    class="form-control" />
                            </div>


                            <!-- <input type="submit" value="Submit Form" /> -->
                            <button type="submit" id="button-signup" class=" btn signup-btn btn-lg">Sign Up</button>
                            <p>Already have an account? <a href="/login">Sign-in here</a></p>
                        </form>




                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!--Bootstrap Bundle with Popper -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>



</body>

</html>