<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitive Wordle Sign Up</title>
    
    <!-- Bootstrap bundle -->
    <link rel="stylesheet" 
      href="/node_modules/bootstrap/dist/css/bootstrap.css">
  </head>

  <body>

    <div class="container signup-container ">
        <div class="row">
            <div class="col"></div>
            <!-- Display the sign up card to be centered in the middle -->
            <div class="col-sm-12 col-md-8">
                <div class="card signup-card">
                <div class="card-block">
                    <h4 class="signup-text"> Create a new account</h4>

                    <form class="signup-form">
                        <div class="form-group">
                            <input type="text" id="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" id="surname" placeholder="Surname" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" id="email-signup" placeholder="Email-Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password-signup" placeholder="Password" class="password form-control">
                        </div>
                        <button type="button" id="button-signup" class=" btn signup-btn btn-lg">Sign Up</button>
                        <p>Already have an account? <a href="#">Sign-in here</a></p>
                    </form>

                </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!--Bootstrap Bundle with Popper -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

  </body>
</html>