* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("/images/background.png") no-repeat center center fixed;
    background-size: cover;
}


.signup-text {
    font-weight: bold;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.container.signup-container {
    margin-top: 8%;
}

.card.signup-card {
    padding: 20px 10px 5px;
    background-color: rgba(239, 253, 235, 0.664);
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(87, 87, 87, 0.7);
    -webkit-box-shadow: 5px 5px 30px rgba(87, 87, 87, 0.7);
    -moz-box-shadow: 5px 5px 30px rgba(87, 87, 87, 0.7);
}

#reg-form {
    max-width: 350px;
    margin: auto;
}

.signup-btn {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.signup-btn:hover {
    background-color: green;
    color: black;
}