  
  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
   overflow: hidden;
  }
  
  #checkerboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .square {
    border: 2px solid rgb(58, 58, 59);
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    font-weight: bold;


    color: white;
    text-align: center;

  }
  
  #keyboard{
    height: 200px; 
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100% ;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 15px;
    height: 58px;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 3px;
    user-select: none;
    border-radius:5px;

  }

  .keyboard-row button:hover {
    background-color: gray;
  }


  #main-content {
    margin-left : auto;
    margin-right : auto;
  }

  #Icon {
    color: gainsboro;
     background-color: black;
  }

  #primary_color {
    color: gainsboro;
  }

#W_back {
    background-color: #66BB6A;
}

#I_back {
    background-color: #FFF176;
}

#U_back {
    background-color: #9E9E9E;
}

#popMessage{
  border: 2px solid rgb(124, 124, 131);
  background-color: white;
  width: 150px;
  height: 40px;
  color: black;
  text-align: center;
  margin-top: 10%;
  border-radius: 5px;
  font-weight: bold;
}

#pop_message{
  position: fixed;
  left: 41%;
}

@keyframes mymove {
  to{background: rgba(106, 170, 100, 255);}
  100% {transform: rotateX(360deg); }
}

@keyframes mymove2 {
  to{background: rgba(201, 180, 88, 255);}
  100% {transform: rotateX(360deg); }
}

@keyframes mymove3 {
  to{background: rgba(120, 124, 126, 255);}
  100% {transform: rotateX(360deg); }
}
